/* Resetando algumas margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Título */
h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4CAF50;
}

/* Container do quiz */
#quiz-container {
    margin-bottom: 20px;
}

/* Estilo da pergunta */
#question-text {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Estilo dos botões de resposta */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilo de exibição da pontuação final */
#result-container {
    text-align: center;
}

.hidden {
    display: none;
}

#next-button {
    background-color: #007BFF;
}

#next-button:hover {
    background-color: #0056b3;
}
